#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
html {
  scroll-behavior: smooth;
}

body {
  padding: 0 !important;
  position: relative;
}
body::-webkit-scrollbar {
  display: none;
}

body::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(45deg, rgb(252 106 70 / 83%) 0%, rgb(116 63 251 / 78%) 50%, rgb(70 252 232 / 77%) 100%);
  opacity: .4;
  backdrop-filter: blur(200px);
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 3000px white inset !important;
  transition-delay: 99999s;
}

.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}
.menu-link {
  padding: 6px 8px;
  cursor: pointer;
  display: block;
}
.menu-link:hover {
  background-color: rgba(0,0,0,.2);
}