{% extends "_base.html" %}

{% block content %}
<div class="wrapper">
    <div class="block">
        <h2>Users:</h2>
        <ul class="list">
        <li class="list_item"></li>
            {% for user in users %}
            <li class="list_item">
                <div class="list_block">
                    <p><span class="text-accent">Mail:</span> {{ user['login'] }}</p>
                    <p><span class="text-accent">Date:</span> {{ user['create'] }}</p>
                    <p><span class="text-accent">Ban:</span> {{ user['block'] }}</p>
                </div>
                <div class="list_block buttons">
                    <button class="btn btn-danger" onclick="push_button('user_del', '{{ user['_id'] }}')">Delete</button>
                    {% if  user['block'] %}
                        <button type="button" class="btn btn-success" onclick="push_button('user_ban', '{{ user['_id'] }}')">Unban</button>
                    {% else %}
                        <button type="button" class="btn btn-danger" onclick="push_button('user_ban', '{{ user['_id'] }}')">Ban</button>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="block">
        <h2>Palettes:</h2>
        <ul class="list">
            <li class="list_item"></li>
            {% for palette in palettes %}
            <li class="list_item">
                <div class="list_block">
                    <a href="/palette/{{ palette['_id'] }}" >
                        <img src="{{ palette['src'] }}" width="65px" height="65px" alt="">
                    </a>
                </div>
                <div class="list_block">
                    <p><span class="text-accent">Uid:</span> {{ palette['_id'] }}</p>
                    <p><span class="text-accent">Name:</span> {{ palette['name'] }}</p>
                    <p><span class="text-accent">Owner:</span> {{ palette['owner'] }}</p>
                </div>
                <div class="list_block buttons">
                    <button type="button"  class="btn btn-danger" onclick="push_button('palette_del', '{{ palette['_id'] }}')">Delete</button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}