<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">

</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        <div class="popup alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Success!</strong> {{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
<div class="wrapper">
    <div class="block">
        <h2>Users:</h2>
        <ul class="list">
        <li class="list_item"></li>
            {% for user in users %}
            <li class="list_item">
                <div class="list_block">
                    <p><span class="text-accent">Mail:</span> {{ user['login'] }}</p>
                    <p><span class="text-accent">Date:</span> {{ user['create'] }}</p>
                    <p><span class="text-accent">Ban:</span> {{ user['block'] }}</p>
                </div>
                <div class="list_block buttons">
                    <button class="btn" onclick="push_button('user_del', '{{ user['_id'] }}')">Удалить</button>
                    <button class="btn" onclick="push_button('user_ban', '{{ user['_id'] }}')">Забанить</button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="block">
        <h2>Palettes:</h2>
        <ul class="list">
            <li class="list_item"></li>
            {% for palette in palettes %}
            <li class="list_item">
                <div class="list_block">
                    <a href="/palette/{{ palette['_id'] }}" >
                        <img src="{{ palette['src'] }}" width="65px" height="65px" alt="">
                    </a>
                </div>
                <div class="list_block">
                    <p><span class="text-accent">Uid:</span> {{ palette['_id'] }}</p>
                    <p><span class="text-accent">Name:</span> {{ palette['name'] }}</p>
                    <p><span class="text-accent">Owner:</span> {{ palette['owner'] }}</p>
                </div>
                <div class="list_block buttons">
                    <button class="btn" onclick="push_button('palette_del', '{{ palette['_id'] }}')">Удалить</button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>


    function push_button(action, uid) {
        window.location.assign(`/api/control?act=${action}&uid=${uid}`)
    }

    setTimeout(function() {
      let alert = document.querySelector('.alert');
      if (alert) {
        alert.style.transition = 'opacity 0.5s';
        alert.style.opacity = '0';
        setTimeout(function() {
          alert.style.display = 'none';
        }, 500);
      }
    }, 4000);


</script>
</body>
</html>