body{
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    display: flex;
}

.col50 {
    width: 50%;
}

.row {
    display: flex;
    vertical-align: center;
}

.palette-info{
    margin-left: 10px;
}