:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    background-color: #212125;
    color: #fff;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 5px;
}

body {
    background: #212125;
    color: #e3e3e3;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.admin-nav {
    padding: 20px 20px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    background: #dedede14;
}

.admin-nav > a {
    padding: 10px 15px;
    background: #212125;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.admin-nav > a:hover {
    color: aqua;
}

.head-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.search-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.block {
    width: 50%;
    background-color: #dedede14;
    border-radius: 8px;
    padding: 10px;
}

.block100 {
    width: 100%;
    background-color: #dedede14;
    border-radius: 8px;
    padding: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.list_item {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #fff;
}


.buttons.list_block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
}

.text-accent {
    color: #adadad;
    font-style: italic;
    font-size: 12px;
}

.palette-info {
    margin-left: 10px;
}

.popup {
    position: absolute;
    right: 10px;
    top: 10px;
}
